@media (min-width: 770px) {

  .topwidget{
    padding: 20px 0 0 0;
  }

  .contact-message-feedback-form{
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid #E9E8ED;
    padding: 10px 30px;
    background: #FDFDFD;
  }

  .region-primary-menu{
    display: inline-block;
    float: right;
    width: auto;
    margin: 0;
  }

  .footerwidget img.left{
    float: left;
    margin: 10px 10px 0 0;
  }

  .region-primary-menu,
  .menu-base-theme li a{
    background: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .4px;
  }

  .main-header nav{
    margin: 0;
  }

  .menu-base-theme a{
    border: 0;
  }

  .menu-base-theme > li{
    border: 0;
  }

  .menu-base-theme a span.sub-arrow {
    padding: 0;
    top: 23px;
    margin-top: 0;
    bottom: 2px;
    right: 5px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    background: transparent;
  }

  .menu-base-theme ul {
    border: 1px solid #eee;
    padding: 0;
    background-color: #333;
  }

  .menu-base-theme ul.has-submenu li {
    border-bottom: 1px solid #fff;
  }

  .carousel-caption p,
  .carousel-caption h3{
    display: block;
  }

  .carousel-caption{
    background-color: #fff;
    background: rgba(255, 255, 255, 0.89);
    color: #333;
    text-shadow: none;
    padding: 15px;
  }

  .bottom-widgets{
    text-align: left;
  }

  .footerwidget{
    padding: 10px 0;
  }

  .credit-link{
    text-align: right;
  }

  .social-media{
    float: right;
  }

  .social-media a{
    margin: 0 0 0 10px;
  }

  /*comment*/

  .comment-wrap .author-details{ 
    width: 10%;
  }

  .comment-wrap .author-comments{ 
    width: 90%;
  }

  .menu-base-theme a, 
  .menu-base-theme a:hover, 
  .menu-base-theme a:focus, 
  .menu-base-theme a:active, 
  .menu-base-theme a.highlighted {
    color: #FFF;
    font-weight: bold;
  }

  .menu-base-theme ul a:hover, 
  .menu-base-theme ul a:focus, 
  .menu-base-theme ul a:active, 
  .menu-base-theme ul a.is-active,
  .menu-base-theme ul a.highlighted {
    background: #EE0328;
    color: white;
  }

  .menu-base-theme li.active a{
    background: #cd1b01;
    color: #fff;
  }

}
@media (max-width: 769px) {
  .sports-events-body .main-header .topnav {
    margin: 0px;
  }
  .sports-events-body .main-header .topnav .container {
    padding: 0px;
  }
  .sports-events-body .main-header .navbar-header {
    height: 60px;
    padding: 0px 15px 0px 15px !important;
  }
  .sports-events-body .main-header .navbar-default {
    background-color: unset !important;
  }
  .sports-events-body .main-header .region-primary-menu{
    width: 45%;
    position: absolute;
  }
  .sports-events-body .main-header .menu-base-theme {
    padding: 0px;
    /*min-height: 800px;*/
    background-color: #181A20;
  }
  .sports-events-body .main-header .menu-base-theme li {
    padding: 0px 15px;
    text-align: center;
    width: 100%;
    border: 0px;
  }
  .sports-events-body .main-header .menu-base-theme li a {
    background-color: #181A20;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
  }
}
@media (max-width: 400px) {
  .sports-events-body .main-header .region-primary-menu{
    width: 60%;
  }
  .sports-events-body .copyright {
    display: none;
  }
  .sports-events-body .main-header .menu-base-theme {
    padding: 0px;
    min-height: 800px;
  }
}
